@font-face {
  font-family: "Suisse Intl Mono";
  src: url("fonts/SuisseIntlMono-Regular.otf") format("opentype");
}

@theme {
  --color-extropic-gray: #707473;
  --color-extropic-gray-dark: #757A79;
  --color-extropic-orange: #ff6a13;
  --gray-700: blue;
  --color-gray-700: blue;
}

:root {
  color-scheme: dark;
}

html {
  background: black !important;
  color: white !important;
}

html.dark,
html[data-theme="dark"],
.dark {
  background: black !important;
  color: white !important;
}

body {
  font-family: "Suisse Intl Mono", monospace;
  background: black;
}

#pagination,
#footer,
#sidebar > ul {
  display: none;
}

#sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: black; */
  width: 100%;
  height: 100%;
  z-index: -1;
}

#sidebar ul li a {
  padding: 0 4px;
  padding-left: 4px! important;
}

#sidebar li a > div {
  padding: 6px 8px;
}

#sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#sidebar li a:not(.text-primary) {
  color: var(--custom-inactive-nav-color) !important;
}

#sidebar li:hover a > div {
  list-style: none;
  color: #fff;
  background-color: #FFFFFF22;
}

.cormorant {
  font-family: "Cormorant", serif !important;
  letter-spacing: -1px !important;
}

#sidebar-title {
  color: #fff;
}

#sidebar-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
#sidebar-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#sidebar-content > div.flex.justify-between.items-center > button {
  display: none;
}

#sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  background: #00000032;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 30; 
  border-right: none;
}

.prose {
  font-family: "Suisse Intl Mono", monospace;
  color: var(--color-extropic-gray);
}

/* //we currently override the element on the bottom of the main content (potentially a footter) */
.leading-6.mt-14 {
  margin-top: 0 !important;
}